html {color:yellow;}
p {color:blue;}
h2 {background-color: #666;
	color:silver;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	align-content: center;
	text-align: center;}